public/audio
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.srclib-cache
.cache-loader
coverage/

*.DS_STORE
.gitrepos
config.ini
config.*.json
config.json

npm-debug.log
/node_modules
package-lock.json

public/js/app.bundle.js
public/js/app.bundle.js.map
public/css/app.bundle.css
public/css/app.bundle.css.map
public/db
public/.fossadb
public/.packagecache
public/.gitrepos
public/data
/data/
*.tern-port
/build-dependencies/**

*.sublime-project
*.sublime-workspace

.idea/

public/css/fossa.css

fossa.err
fossa.out
fossa.log
.fossabot

fossa-agent.err
fossa-agent.out
fossa-agent.log

*.map
*.key

*.tmp
!test/src/integration/logs/
ts-node-*/
.ts-node/
playground

localhost-key.pem
localhost.pem
junit.xml
dist
.envrc.local
.yarn.sha
/.git-commit
/.git-tags
.marker
.bats-*
**/docs/**
